<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.OrdersMapper">
    <select id="list" resultType="hashmap">
       select o.*, lend_costume_image, lend_costume_name, photo_package_image, photo_package_title
      from orders o, lend_costume, photo_package
      where orders_package_code=photo_package_code and orders_costume_code=lend_costume_code
      and orders_id=#{orders_id}
    </select>
    <select id="point" resultType="int">
       select users_point from users where users_id=#{users_id}
    </select>
    <insert id="packageInsert">
    	insert into package_orders(package_cart_ono, orders_package_quantity, orders_day, orders_paytype)
    	values(#{package_cart_no}, #{orders_package_quantity}, now(), #{orders_paytype})
    </insert>
    <insert id="costumeInsert">
    	insert into costume_orders(costume_cart_ono, orders_costume_quantity, orders_day, orders_paytype)
    	values(#{costume_cart_no}, #{orders_costume_quantity}, now(), #{orders_paytype})
    </insert>
</mapper>